<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

         <welcome-file-list>
            <welcome-file>Student/index.jsp</welcome-file>
        </welcome-file-list>
        

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.LoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.logoutServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>facLogoutServlet</servlet-name>
        <servlet-class>in.upes.projectmanagement.Faculty.facLogoutServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>inviteServlet</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.inviteServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>searchStudent</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.searchStudent</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>uploadDocuments</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.uploadDocuments</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.DownloadFileServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DownloadFilesServlet</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.DownloadFilesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ProjDetails</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.ProjDetails</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.StatusServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>handleInvite</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.handleInvite</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>fetchInvite</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.fetchInvite</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>searchFaculty</servlet-name>
        <servlet-class>in.upes.projectmanagement.Student.searchFaculty</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

<servlet>
    <servlet-name>inviteFaculty</servlet-name>
    <servlet-class>in.upes.projectmanagement.Student.inviteFaculty</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
    <servlet-name>inviteFaculty</servlet-name>
    <url-pattern>/Student/inviteFaculty</url-pattern>
</servlet-mapping>

    <servlet-mapping>
        <servlet-name>searchFaculty</servlet-name>
        <url-pattern>/Student/searchFaculty</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProjDetails</servlet-name>
        <url-pattern>/Student/ProjDetails</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>DownloadFilesServlet</servlet-name>
        <url-pattern>/Student/downloadFiles</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/Student/downloadFile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/Student/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>facLogoutServlet</servlet-name>
        <url-pattern>/Faculty/logout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>uploadDocuments</servlet-name>
        <url-pattern>/Student/uploadDocuments</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/Student/StatusServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>handleInvite</servlet-name>
        <url-pattern>/Student/handleInvite</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>fetchInvite</servlet-name>
        <url-pattern>/Student/fetchInvite</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>inviteServlet</servlet-name>
        <url-pattern>/Student/inviteServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>searchStudent</servlet-name>
        <url-pattern>/Student/searchStudent</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Student/login</url-pattern>
    </servlet-mapping>

    

</web-app>

<!-- make a servlet mapping for accepting invite and declining invite  --> 
 <!-- both servlet mapping are waiting for the testing phase once it is done commit the servlet mapping -->